.img-circle {
    border-radius: 50%;
}

#me {
    position: relative;
    padding: 40px;
}

#me img {
    display: block;
    height: 270px;
    width: 270px;
    position: relative;
    margin: 0 auto;
}

.fa {
    position: relative;
    padding: 40px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
} 

#about {
    border-style: hidden;
    border-width: 1px;
    position: relative;
    padding: 5px;
    padding-left: 250px;
    padding-right: 250px;
}

#about h4 {
    text-align: center;
    color: black;
}

#about p {
    text-align: justify;
    color: black;
}

body {
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
}