body {
 /* background-image: url("Images/background.jpg"); */
 background-color: #2a2a2a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
}

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
  border: 2px solid #fff;
}

.me {
  position: relative;
  padding: 40px;
}

.me img {
  display: block;
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 auto;
}

.social {
  display: flex;
  position: relative;
  padding-bottom: 50px;
  width: 525px;
  margin: 0 auto;
}

.social li {
  list-style: none;
}

.social li a {
  width: 80px;
  height: 80px;
  background: #2a2a2a;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social li a .fa {
  position: relative;
  color: #5858a7;
  transition: .5s;
  z-index: 3;
}

.social li a:hover .fa {
  color: #fff;
  transform: rotateY(360deg);
}

.social li a:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social li a:hover:before {
  top: 0;
}

.social li:nth-child(1) a:before {
  background: #00b489;
}

.social li:nth-child(2) a:before {
  background: #0077b5;
}

.social li:nth-child(3) a:before {
  background: #000;
}

.social li:nth-child(4) a:before {
  background: #c32aa3; /* alt color #e4405f */
}

.social li:nth-child(5) a:before {
  background: #FC3;
}

.about {
  border-style: solid;
  background-color: #4682b4;
  border-width: 1px;
  position: relative;
  padding: 5px;
  padding-left: 100px;
  padding-right: 100px;
  width: 550px;
  margin: 0 auto;
}

.about h1 {
  text-align: center;
  color: black;
  font-family: 'Source Code Pro', monospace;
}

.about h3 {
  text-align: justify;
  color: #000;
  font-family: 'Source Code Pro', monospace;
}

.button {
  display: block;
  position: relative;
  border-radius: 4px;
  background-color: #2a2a2a;
  border: none;
  color: #ff6666;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  width: 220px;
  font-family: 'Source Code Pro', monospace;
  margin: 0 auto;
}

.button a {
  text-decoration: none;
  color: #ff6666;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.footer {
  position: relative;
  padding: 1rem;
  text-align: center;
  color: whitesmoke;
  font-family: 'Source Code Pro', monospace;
  bottom: 0;
  right: 0;
  left: 0;
}