.img-circle {
    border-radius: 50%;
    border: 2px solid #fff;
}

.me {
    position: relative;
    padding: 40px;
}

.me img {
    display: block;
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

.social {
    display: flex;
    position: relative;
    padding-bottom: 25px;
    width: 525px;
    margin: 0 auto;
}

.social li {
    list-style: none;
}

.social li a {
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.social li a .fa {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
.social li a:hover .fa {
    color: #fff;
    transform: rotateY(360deg);
} 
.social li a:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.social li a:hover:before {
    top: 0;
}
.social li:nth-child(1) a:before {
    background: #dd4b39;
}
.social li:nth-child(2) a:before {
    background: #0077b5;
}
.social li:nth-child(3) a:before {
    background: #000;
}
.social li:nth-child(4) a:before {
    background: #e4405f;
}
.social li:nth-child(5) a:before {
    background: #000;
}

.about {
    border-style: hidden;
    border-width: 1px;
    position: relative;
    padding: 5px;
    padding-left: 250px;
    padding-right: 250px;
}

.about h4 {
    text-align: center;
    color: black;
}

.about p {
    text-align: justify;
    color: black;
}

body {
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100px;
    
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: whitesmoke;
}